.home {
  max-width: 720px;
  margin: 2rem auto 0;
  .post {
    margin-bottom: 4rem;
    h1 {
      font-size: 1.75rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 1.125rem;
      color: var(--gray-300);
      margin-bottom: 1.5rem;
    }
    .postInformation {
      display: flex;
      gap: 1.5rem;
      span {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--gray-500);
      }
    }
    & + a {
      margin-top: 3rem;
    }
  }
  button {
    background: transparent;
    border: 0;
    color: var(--purple-500);
    font-weight: 600;
  }
}
